In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Загружаем CSV-файл из той же папки, где лежит ноутбук
data = pd.read_csv("S02-hw-dataset.csv")

In [10]:
# Первые строки датасета
data.head()

   user_id   age country  purchases  revenue
0        1  25.0      FR          7      749
1        2  24.0      RU          5     1115
2        3  52.0      FR          7      399
3        4  31.0      RU          6      654
4        5   NaN      DE          6     1296

In [11]:
# ИНформация о столбцах и типах
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    41 non-null     int64
 1   age        39 non-null     float64
 2   country    41 non-null     object
 3   purchases  41 non-null     int64
 4   revenue    41 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.7+ KB

In [12]:
# Базовые описательные статистики
data.describe()

         user_id         age  purchases      revenue
count  41.000000   39.000000  41.000000    41.000000
mean   20.243902   36.512821   4.829268   820.048780
std    11.659289   18.304259   2.710189   613.127269
min     1.000000    5.000000  -1.000000     0.000000
25%    10.000000   24.000000   3.000000   432.000000
50%    20.000000   33.000000   5.000000   693.000000
75%    30.000000   45.500000   7.000000  1115.000000
max    40.000000  120.000000  11.000000  2475.000000

In [17]:
# Посчитать долю пропусков в каждом столбце
print(data.isna().mean())

user_id      0.00000
age          0.04878
country      0.00000
purchases    0.00000
revenue      0.00000
dtype: float64

In [36]:
# Найти и вывести все полностью дублирующие строки
duplicates = data[data.duplicated(keep=False)]

if not duplicates.empty:
    print("Найдены полностью дублирующие строки:")
    print(duplicates)
else:
    print("Полностью дублирующих строк не найдено.")
print("Количество дублирующих строк",data.duplicated().sum())

Найдены полностью дублирующие строки:
    user_id   age country  purchases  revenue
9        10  24.0      RU          7      511
40       10  24.0      RU          7      511
Количество дублирующих строк 1

In [25]:
# Найти и вывести подозрительные случаи по возрасту
strange_age = data[(data['age'] < 0) | (data['age'] > 100)]

if not strange_age.empty:
    print("Найдено", len(strange_age), "строк с нереалистичным возрастом")
    print(strange_age[['user_id', 'age']])
else:
    print("Строк с нереалистичным возрастом не найдено.")

Найдено 1 строк с нереалистичным возрастом:
   user_id    age
5        6  120.0

In [29]:
# Найти и вывести подозрительные случаи по цене
strange_revenue = data[data['revenue'] < 0]

if not strange_revenue.empty:
    print("Найдено", len(strange_age), "строк с нереалистичной ценой")
    print(strange_revenue[['user_id', 'revenue']])
else:
    print("Строк с нереалистичной ценой не найдено.")

Строк с нереалистичной ценой не найдено.

In [30]:
# Найти и вывести подозрительные случаи по количеству
strange_purchases = data[data['purchases']<0]

if not strange_purchases.empty:
    print( "Найдено", len(strange_purchases), "строк с нереалистичным количеством")
    print( strange_purchases[['user_id', 'age']])
else: 
    print(" Строк с нереалистичным количеством не найдено")

Найдено 1 строк с нереалистичным количеством
   user_id    age
5        6  120.0

In [32]:
# Нулевые покупки, но ненулевой доход
revenue_without_purchases = data[(data['purchases'] == 0) & (data['revenue'] > 0)]

if not revenue_without_purchases.empty:
    print ( "Найдено", len(revenue_without_purchases), "строк с нулевыми покупками, но ненелевым доходом")
    print( revenue_without_purchases[['user_id', 'revenue', 'purchases']])
else:
    print("Строк с нулевыми покупками, но ненулевым доходом ненайдено")

Строк с нулевыми покупками, но ненулевым доходом ненайдено

In [39]:
"""
В датасете обнаружены следующие проблемы качества данных:

Во-первых, в столбце age отсутствуют значения у 2 из 41 пользователей (≈4.9%), что может ограничить анализ по возрасту. Во-вторых, имеется одна полностью дублирующая строка (user_id=10), что может искажать агрегированные метрики.

Кроме того, выявлены логически некорректные значения: у одного пользователя (user_id=6) указан возраст 120 лет и отрицательное количество покупок (purchases = -1), что противоречит смыслу данных. Такие наблюдения требуют коррекции или удаления перед дальнейшим анализом
"""

'\nВ датасете обнаружены следующие проблемы качества данных:\n\nВо-первых, в столбце age отсутствуют значения у 2 из 41 пользователей (≈4.9%), что может ограничить анализ по возрасту. Во-вторых, имеется одна полностью дублирующая строка (user_id=10), что может искажать агрегированные метрики.\n\nКроме того, выявлены логически некорректные значения: у одного пользователя (user_id=6) указан возраст 120 лет и отрицательное количество покупок (purchases = -1), что противоречит смыслу данных. Такие наблюдения требуют коррекции или удаления перед дальнейшим анализом\n'